<header>
	<div id="locale_links">
		<%= link_to_unless_current "English", locale: "en" %> |
		<%= link_to_unless_current "Espanol", locale: "es" %>
	</div>	
	<div id="header">
		<!-- <img src="freelance_me_logo.jpg"> -->
		<p>FreelanceMe</p>
		
		<div class="sign_in">
			<h6><%= t ".sign_in"%></h6>
				<%= form_tag sessions_path do %>
					<%#= label_tag :email %>	
					<%= email_field_tag :email,nil, placeholder: User.human_attribute_name(:email) %>	
					<%#= label_tag :password %>	
					<%= password_field_tag :password,nil, placeholder: User.human_attribute_name(:password) %>	
					<%= submit_tag t("helpers.submit.sign_in_user"), id: :sign_in_button %>	
				<% end %>
		</div>
	</div>
</header>


<%= render partial: 'users/signup' %>

<div id="about">
	<h3><%=  t ".summary_title"%></h3>
	<p><%= t ".description"%> </p>
</div>
<div id="bullet_points">
	<div class="features" id="organization">
		<img src="organization.png">
		<p><%= t ".features.organization" %>
		</p>
	</div>
	<div class="features" id="calendar">
		<img src="calendar.png">
		<p>The Freelance Me Calendar will populate with jobs on the corresponding day. All past, present and future jobs will remain on the calendar. Click the jobs on the calendar to veiw it's details.
		</p>
	</div>
	<div class="features" id="pdf_info">
		<img src="pdf_icon2.png">
		<p>Generate Invoice PDF's with your business logo. The generator uses the data you have entered about the job to include total price, balance and an itemized balance. 
		</p>
	</div>
	<div class="features" id="analytics_about">
		<img src="analytics.png">
		<p>Keep Track of how much money you've for current YTD. Freelance Me Analytics keeps track and visualizes your gross income, revenue, payments recieved and more. </p>
	</div>
</div>

<div id="image_module">
	<div id="site_images">
		<div onclick="slideShowLeft();return false" class="image_nav" id="image_nav_left"><a href="#">&#10094;</a></div>
		<div onclick="slideShowRight();return false" class="image_nav" id="image_nav_right"><a href="#">&#10095;</a></div>	
		<img id="screen_shots" src="freelanceme-msimonitsch1.png">	
	</div>
</div>

<div id="images_about">
	<h4 id="aboutH4">The Dashboard</h4>
	<p id="aboutP">This is the central hub where you can view and organize your business.  On the left is a calendar that will populate with jobs on their corresponding dates. You can add and subtract items from a to-do list. The right side is dedicated to client management. You can add clients and view them here. Clients can be viewed through he list or you can search by first name, last name or business name.</p>
</div>

<!-- <footer>
	<h5>foo</h5>
</footer> -->



