<% @clients.each do |c| %>
	<% if c.user_id == current_user.id %>
		<p><%= c.fname %><%= c.lname %></p>
		<p><%= c.business_name %></p>
		<p><%= c.email %></p>
		<p><%= link_to "View Client", client_path(c) 	%>
		<%= link_to "Show Jobs (#{c.jobs.count})", "#" %> 
		</p>
			<div class="client_job_list">
				<% if c.jobs.count != 0 %>
					<% c.jobs.each do |j| %>
					<p>
						Name: <%= j.name %><br>
						Description: <%= j.job_description %><br>
						<%= link_to "Print PDF", "#" %>
					</p>
					<% end %>
				<% end %>
			</div>
		<hr>
		<% elsif current_user.clients.count == 0 %>
			<p>You have no Clients.</p>
	<% end %>
<% end %>