<div id="jobitems_title">
	<h3>Itemized Balance</h3>
	<p><strong>Total:</strong> <%= number_to_currency(@total_itemized)%></p>
</div>
	<% @jobitems.each do |j| %>
		<div class="jobitem_box" id="jobitem_box<%= j.id %>">
			<p><%= j.name %></p> 
			<p><%= number_to_currency(j.price) %></p> 
			<p><%= j.date %>
			<%= link_to 'X', client_job_jobitem_path(@client,@job,j), method: :delete %>
			</p> 
		</div>
	<% end %>
<div id="jobitem_form">
<%= form_for ([@client,@job,@jobitem]) do |f| %>
	<%= f.text_field :name, placeholder: :name %>
	<%= f.date_field :date %>
	<%= f.text_field :price, placeholder: :price %>
	<p><%= f.submit 'Add Item' %></p>
<% end %>
</div>