

<div id="job_list_show_container">
	<div class="pdf_options">
		<p><%= link_to :controller => "jobs", :action =>'show', format: 'pdf' do %>
				<%='View/Print (PDF)' %>
				<% end %>
		</p>
		<p><%= link_to :controller => "jobs", :action => "send_pdf", format: 'pdf', client_id: @client.id, id: @job.id do %>
			<%= 'Email (PDF)' %>
			<% end %>
		</p>
		<p><%= link_to 'Delete Job', [@client,@job], method: :delete, data: {confirm: "Delete Job?"} %></p>
	</div>

	<div id="job_price_balance">
		<%= render partial: 'job_price_balance' %>
	</div>

	<div class="job_list_show">
		<h3>Job Info</h3>
		<p class="stripe"><strong>Client Name:</strong> <%= @job.client.fname%></p>
		<p><strong>Business Name:</strong> <%= @job.client.business_name%></p>
		<p class="stripe"><strong>Client Email:</strong> <%= @job.client.email %></p>
		<p><strong>Job Name:</strong> <%= @job.name%></p>
		<p class="stripe"><strong>Job Description:</strong> <%= @job.job_description%></p>
		<p><strong>Date of Job:</strong> <%= @job.date_of_job%></p>
		<p class="stripe"><strong>Time:</strong> <%= @job.time.strftime("%I:%M %p")%></p>
		<p><strong>Notes:</strong> <%= @job.notes%></p>
	</div>
	
	<div id="job_jobitems">
		<%= render partial: 'jobitems/jobitems' %>
	</div>	
</div>

<div id="job_payments">
		<%= render partial: 'payments/payments' %>
</div>

<div id="job_expenses">
	<%= render partial: 'expenses/expenses' %>
</div>

<div class="edit_job_form">
	<h3>Edit Job</h3>
	<%= form_for [@client,@job] do |f| %>
		<p><%= f.label :name %></p>
		<p><%= f.text_field :name %></p>
		<p><%= f.label :description_of_job %></p>
		<p><%= f.text_area :job_description %></p>
		<p><%= f.label :price %></p>
		<p><%= f.text_field :price %></p>
		<p><%= f.label :current_balance %></p>
		<p><%= f.text_field :balance %></p>
		<p><%= f.label :job_date %></p>
		<p><%= f.date_field :date_of_job %></p>
		<p><%= f.label :time_of_job %></p>
		<p><%= f.time_select :time, {ampm: true} %></p>
		<p><%= f.label :notes %></p>
		<p><%= f.text_area :notes %></p>
		<%#= f.hidden_field :client_id, value: @client.id %>
		<p><%= f.submit "Update" %></p>
	<% end %>
</div>





