
<% @clients.each do |c| %>
	<% if c.user_id == current_user.id %>
		<div class="client_box" id="client<%= c.id%>">
			<p><strong>Name:</strong> <%= c.fname %> <%= c.lname %></p>
			<p><strong>Business:</strong> <%= c.business_name %></p>
			<p><strong>Email: </strong><%= c.email %></p>
			<br>
			<p><%= link_to "View Client", client_path(c) %></p>
			<p id="show_jobs"><%= link_to "Show Jobs (#{c.jobs.count})", "#" %> </p>
			
			
				<% if c.jobs.count != 0 %>
					<% c.jobs.each do |j| %>
			<div class="client_job_list" id="job<%= j.id%>">
					<p>
						Name: <%= j.name %>
						Description: <%= j.job_description %>
						<%= link_to "View Job", client_job_path(c,j) %>
					</p>
			</div>
					<% end %>
				<% end %>
			
		</div>
	<% elsif current_user.clients.count == 0 %>
					<p>You have no Clients.</p>
	<% end %>	
<% end %>
