<% if @client_search.present? %>
	<% @client_search.each do |c| %>
		<% if c.user_id == current_user.id %>
			<div class="search_client_box">
				<p><strong>Name:</strong> <%= c.fname %> <%= c.lname %></p>
				<p><strong>Business:</strong> <%= c.business_name %></p>
				<p><strong>Email: </strong><%= c.email %></p>
				<p><%= link_to "View Client", client_path(c) %></p>
				<p><%= link_to "Show Jobs (#{c.jobs.count})", "#", id: :search_results_show %> 
				</p>
				<div class="search_client_job_list">
					<% if c.jobs.count != 0 %>
						<% c.jobs.each do |j| %>
						<p>
							Name: <%= j.name %>
							Description: <%= j.job_description %>
							<%= link_to "View Job", client_job_path(c,j) %>
						</p>
						<% end %>
					<% end %>
				</div>
			</div>
		<% elsif current_user.clients.count == 0 %>
						<p>You have no Clients.</p>
		<% end %>
	<% end %>
<% else %>
	<p>There are no Clients containing the term(s) <%= params[:search] %>.</p>
<% end %>