<div class="sign_up">
	<h3><%= t "sessions.index.sign_up" %></h3>
	<%= form_for @user do |f| %>
		<p><%= f.label User.human_attribute_name(:fname) %></p>
		<p><%= f.text_field :fname %></p>
		<p><%= f.label User.human_attribute_name(:lname) %></p>
		<p><%= f.text_field :lname %></p>
		<p><%= f.label User.human_attribute_name(:email) %></p>
		<p><%= f.email_field :email %></p>
		<p><%= f.label User.human_attribute_name(:business_name) %></p>
		<p><%= f.text_field :business_name %></p>
		<p><%= f.label User.human_attribute_name(:password) %></p>
		<p><%= f.password_field :password %></p>
		<p><%= f.label User.human_attribute_name(:password_confirmation) %></p>
		<p><%= f.password_field :password_confirmation %></p>
		<p><%= f.submit t("helpers.submit.create_user"), id: :sign_up_button %></p>
	<% end %>
</div>