<h3>Account Details</h3>

<div class="user_profile">
	<h4>Profile</h4>

	<p class="stripe"><strong>First Name:</strong> <%= @user.fname %></p>
	<p><strong>Last Name:</strong> <%= @user.lname %></p>
	<p class="stripe"><strong>Email:</strong> <%= @user.email %></p>
	<p><strong>Business Name:</strong> <%= @user.business_name %></p>
	<p class="stripe"><strong>Number of Clients:</strong> <%= @user.clients.count %></p>
	<p><strong>Number of Jobs:</strong> <%= @user.jobs.count %></p>
	<p class="stripe"><strong>Member Since:</strong> <%= @user.created_at.strftime('%B %Y') %></p>
</div>
<!-- <p>Number of Jobs: </p> -->
<div class="edit_user_form">
	<h4>Edit Profile</h4>
	<p><%= form_for @user do |f| %>
	<p><%= f.label :first_name %>:</p>
	<p><%= f.text_field :fname %></p>
	<p><%= f.label :last_name %>:</p>
	<p><%= f.text_field :lname %></p>
	<p><%= f.label :email %>:</p>
	<p><%= f.text_field :email %></p>
	<p><%= f.label :business_name %>:</p>
	<p><%= f.text_field :business_name %></p>
	<p><%= f.label "Logo (Will be resized to 1000 x 200" %>:</p>
	<p><%= f.file_field :logo, id: :file_upload %></p>
	<p><%= f.label :password %></p>
	<p><%= f.password_field :password %></p>
	<p><%= f.label :password_confirmation %></p>
	<p><%= f.password_field :password_confirmation %></p>
	<p><%= f.submit "Edit Account" %></p>
	<% end %>
</div>