
<div class="user_greeting">
	<h2>Hello <%= @user.fname %></h2>
</div>
<div class="calendar">
	<div class="container">
	<%= render partial: 'calendar', locals: {events: @jobs} %>
	</div>
</div>

<div class="client_container">
	<div class="add_client_form_container">
		<h3>Add a Client</h3>
		<% if flash[:notice] %>
			<%= flash[:notice] %>
		<%end%>
		<div class="add_client_button">
			<%= button_tag "Add Client +", type: "button", id: :add_client_button %>
		</div>
	</div>
	<div class="client_list_container">
		<h3>Client List</h3>
		<div class="add_client_form">
			<%= form_for(@client, remote: true)  do |f| %>
				<p><%= f.label :first_name %></p>
				<p><%= f.text_field :fname %></p>
				<p><%= f.label :last_name %></p>
				<p><%= f.text_field :lname %></p>
				<p><%= f.label :street_and_apt %></p>
				<p><%= f.text_field :street %></p>
				<p><%= f.label :city %></p>
				<p><%= f.text_field :city %>
				<p><%= f.label :state %></p>
				<p><%= f.text_field :state %>
				<p><%= f.label :zip %></p>
				<p><%= f.text_field :zip %>
				<p><%= f.label :phone_number %></p>
				<p><%= f.text_field :phone %></p>
				<p><%= f.label :email %></p>
				<p><%= f.text_field :email %></p>
				<p><%= f.label :business_name %></p>
				<p><%= f.text_field :business_name %></p>
				<p><%= f.submit "Submit", id: :add_client_submit %></p>
			<% end %>
		</div>
	</div>
	<div class="client_list">
			<%= render partial: 'client_list', locals: {clients: @clients} %>
	</div>
</div>
