<div class="outer_modal">
	<div class="inner_modal">
	<p class="modal_close_button"><a href="#">&#10008;</a></p>
	<h2>Add Client</h2>
		<div class="add_client_form">
			<%= form_for @client do |f| %>
				<div class="form_label_field">
					<p><%= f.label :first_name %> :</p>
					<p><%= f.text_field :fname,
					class: "mdl-textfield mdl-js-textfield" %></p>
				</div>
				<div class="form_label_field">
				<p><%= f.label :last_name %> :</p>
				<p><%= f.text_field :lname %></p>
				</div>
				<div class="form_label_field">
				<p><%= f.label :street_and_apt %> :</p>
				<p><%= f.text_field :street %></p>
				</div>
				<div class="form_label_field">
				<p><%= f.label :city %> :</p>
				<p><%= f.text_field :city %></p>
				</div>
				<div class="form_label_field">
				<p><%= f.label :state %> :</p>
				<p><%= f.text_field :state %>
				</div>
				<div class="form_label_field">
				<p><%= f.label :zip %> :</p>
				<p><%= f.text_field :zip %></p>
				</div>
				<div class="form_label_field">
				<p><%= f.label :phone_number %> :</p>
				<p><%= f.text_field :phone %></p>
				</div>
				<div class="form_label_field">
				<p><%= f.label :email %> :</p>
				<p><%= f.text_field :email %></p>
				</div>
				<div class="form_label_field">
				<p><%= f.label :business_name %> :</p>
				<p><%= f.text_field :business_name %></p>
				</div>
				<p><%= f.submit "Submit", id: :add_client_submit %></p>
			<% end %>
		</div>
	</div>
</div>

<div class="user_greeting">
	<h2>Hello <%= @user.fname %></h2>
</div>
<div class="calendar">
	<div class="container">
	<%= render partial: 'calendar', locals: {events: @jobs} %>
	</div>
	<div class="todo_list">
	<%= render partial: 'todos/todo', locals: {todo: @todo, date: @date, todos: @todos} %>
	</div>
</div>

<div class="client_container">
	<div class="add_client_form_container">
		<h3>Add a Client</h3>

		<div class="add_client_button">
			<%= link_to "Add Client", "#", id: :add_client_button %>
		</div>

	</div>

	<div class="client_list_container">
		<h3>Client List</h3>
	</div>

	<div id="client_menu">
		<div class="all_clients">
			<%= link_to "All Clients", "#" %>
		</div>
		<div class="search_results">
			<%= link_to "Search", "#" %>
		</div>
	</div>
	
	<div class="client_list" id="all_client_list">
		<p><%= will_paginate @clients %></p>
		<%= render partial: 'client_list', locals: {clients: @clients} %>
		<%= will_paginate @clients %>
	</div>


	<div id="client_search_wrapper">
		<div class="job_search">
			<%= form_tag(user_path, :method => "get", id: "search-form", remote: true) do %>
			<%= text_field_tag :search, params[:search], placeholder: "Search Clients by Name or Business" %>
			<%= submit_tag "Search" %>
			<% end %>
		</div>
	

		<div class="client_list">
			<div id="partial_client_search">
			<!-- <p><%#= will_paginate @clients %></p> -->
				<%= render partial: 'client_search' %>
			<%#= will_paginate @clients %>
			</div>
		</div>

	</div>

</div>



