<h1>Clients#show</h1>
<p>Find me in app/views/clients/show.html.erb</p>
<div class="delete_client">
	<%= link_to "Delete Client", @client, method: :delete %>
</div>
<div class="client_info">
	<h3>Client Info</h3>
		<p><%= @client.fname %></p>
		<p><%= @client.lname %></p>
		<p><%= @client.address %></p>
		<p><%= @client.business_name %></p>
		<p><%= @client.email %></p>
		<p><%= @client.phone %></p>
</div>

<div class="add_job_form">
	<h3>Add Job</h3>
	<% if flash[:notice] %>
		<%= flash[:notice] %>
	<%end%>
	<%= form_for [@client,@job] do |f| %>
		<p><%= f.label :name %></p>
		<p><%= f.text_field :name %></p>
		<p><%= f.label :description_of_job %></p>
		<p><%= f.text_area :job_description %></p>
		<p><%= f.label :price %></p>
		<p><%= f.text_field :price %></p>
		<p><%= f.label :current_balance %></p>
		<p><%= f.text_field :balance %></p>
		<p><%= f.label :job_date %></p>
		<p><%= f.date_select :date_of_job %></p>
		<p><%= f.label :time_of_job %></p>
		<p><%= f.time_select :time, {ampm: true} %></p>
		<p><%= f.label :notes %></p>
		<p><%= f.text_area :notes %></p>
		<%#= f.hidden_field :client_id, value: @client.id %>
		<p><%= f.submit "Add Job" %></p>
	<% end %>
</div>

<div class="edit_client_form">
	<h3>Update Client Info</h3>
	<%= form_for @client do |f| %>
		<p><%= f.label :first_name %></p>
		<p><%= f.text_field :fname %></p>
		<p><%= f.label :last_name %></p>
		<p><%= f.text_field :lname %></p>
		<p><%= f.label :address %></p>
		<p><%= f.text_field :address %></p>
		<p><%= f.label :phone_number %></p>
		<p><%= f.text_field :phone %></p>
		<p><%= f.label :email %></p>
		<p><%= f.text_field :email %></p>
		<p><%= f.label :business_name %></p>
		<p><%= f.text_field :business_name %></p>
		<p><%= f.submit "Submit", id: :edit_client_submit %></p>
	<% end %>
</div>



