<div id="graph_container">
	<h2>Transaction Price History</h2>
	<svg id="graph"></svg>
</div>

<div id="ytd_stats">
	<h2>Year To Date</h2>
	<p>Gross Income:   <strong> <%= number_to_currency(@ytd_totalgross) %></strong></p>
	<p class="stripe green" class="green">Revenue:   <strong class="green"><%= number_to_currency(@ytd_totalrevenue) %></strong></p>
	<p class="red">Payment(s) Due:   <strong class="red"><%= number_to_currency(@ytd_totalpaymentdue) %></strong></p>
	<p class="stripe">Payments Received:   <strong><%= number_to_currency(@ytd_totalpayments) %></strong></p>
	<p>% Payments Received:   
		<strong>
		<% if @ytd_paymentrecievedpercent > 0 %>
			<%= @ytd_paymentrecievedpercent.round %>%
		<% else %>
			0%
		<%end %> 
		</strong></p>
		
	<p class="stripe">Number of Jobs:   <strong><%= @ytd_totaljobs %></strong></p>
	<p>Clients Added:   <strong><%= @ytd_totalclients %></strong></p>
	<p class="stripe">Higest Price Job:   <strong>
	<%= link_to client_job_path(@ytd_h_job_client_id,@ytd_h_job_id) do %>
			<%= number_to_currency(@ytd_highest_price_job) %>
		<% end %>
	</strong></p>

</div>

<div id="num_jobs_graph_container">
		
</div>

