<div id="payment_title">
		<h3>Payment History</h3>
		<p><strong>Total:</strong> <%= number_to_currency(@total_payments)%></p>
</div>
<% @payments.each do |e| %>
	
	<table id="payment_table">
		<tbody class="payment_box" id="payment_box<%= e.id %>">
			<td class="td_first"><%= e.form %></td>
			<td class="td_center"><%= number_to_currency(e.amount) %></td>
			<td class="td_date"><%= e.date.strftime("%m/%d/%Y") %></td>
			<td class="td_last"><%= link_to 'X', client_job_payment_path(@client,@job,e), method: :delete, remote: true %></td>
		</tbody>
	</table>
<% end %>
<div id="payment_form">
	<%= form_for [@client,@job,@payment], remote: true do |f| %>
		<%= f.text_field :form, placeholder: 'Type of Payment', id: :payment_type %>
		<%= f.text_field :amount, placeholder: 'Amount of Payment' %>
		<%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d') %>
		<%= f.submit "Add Payment", id: :payment_button %>
	<% end %>
</div>