<h3>To do List</h3>
<p id="todo_date"><%= l @date, format: :abbr_m_long %></p>
<table id="todo_table">
<thead class="todo_titles">
	<tr>
		<th class="todo_first">Todo List</th> 
		<th>Date</th>
		<th class="todo_last">Menu</th>
	</tr>
</thead>

<% @todos.each do |t| %>
	<tbody class="todo_items" id="todo_<%= t.id %>">
		<td class="todo_first"><%= t.item %></td>
    	<td><%= l t.date, format: :short %></td>
    	<td class="todo_last"><%= link_to "Completed", todo_path(t), method: :delete, remote: true %></td>
    </tbody>
<% end %>
</table>
<%= form_for(@todo, remote: true) do |f| %>
	<p><%= f.hidden_field :date, value: @date.strftime("%b %d, %Y")  %></p>
	<p><%= f.text_field :item, placeholder: :task %></p>
	<p><%= f.submit "Add Task", id: :todo_submit %></p>
<% end %>