<div id="expense_title"><h3>Job Expenses</h3><p><strong>Total:</strong> <%= number_to_currency(@total_expenses)%></p></div>
<% @expenses.each do |e| %>
	<div class="expense_box" id="expense_box<%= e.id %>">
		 <p><%= e.description %></p>
		 <p><%= number_to_currency(e.amount) %></p>
		<p><%= e.date %>    
			<%= link_to 'X', client_job_expense_path(@client,@job,e), method: :delete %>
		</p>
	</div>
<% end %>

<div id="expense_form">
	<%= form_for [@client,@job,@expense], remote: true do |f| %>
		<%= f.text_field :description, placeholder: 'Expense Description' %>
		<%= f.text_field :amount, placeholder: :price %>
		<%= f.date_field :date %>
		<p><%= f.submit "Add Expense" %> </p>
	<% end %>
</div>
