<div id="expense_title"><h3>Job Expenses</h3><p><strong>Total:</strong> <%= number_to_currency(@total_expenses)%></p></div>
<% @expenses.each do |e| %>
	<table id="expense_table">
		<tbody class="expense_box" id="expense_box<%= e.id %>">
			 <td class="td_first"><%= e.description %></td>
			 <td class="td_center"><%= number_to_currency(e.amount) %></td>
			<td class="td_date"><%= e.date.strftime("%m/%d/%Y") %></td>    
			<td class="td_last"><%= link_to 'X', client_job_expense_path(@client,@job,e), method: :delete, remote: true %>
			</td>
		</tbody>
	</table>
<% end %>

<div id="expense_form">
	<%= form_for([@client,@job,@expense],action: '/clients/@client.id/jobs/@job.id/expenses', method: 'post', remote: true) do |f| %>
		<%= f.text_field :description, placeholder: 'Expense Description' %>
		<%= f.text_field :amount, placeholder: :price %>
		<%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d') %>
	<%= f.submit "Add Expense", id: :expense_button %>
	<% end %>
</div>
