<!DOCTYPE html>
<html>
<head>
  <title>FreelanceTool</title>
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/freelance_me_favicon.ico'%>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script></head>

<body>
<% if current_user %>
<div class="nav_bar">
	<nav>	
		<%= image_tag '/freelance_me_logo.jpg', id: :freelance_logo %>
		<ul>
			<div class="nav_buttons">
				<li><%= link_to "Dashboard", user_path(current_user) %></li>
				<li><%= link_to "Account Profile", edit_user_path(current_user) %></li>
				<li><%= link_to "Analytics", charts_index_path %></li>
			</div>
			<div class="log_in_out">
			<% if current_user %>
				<li><%= link_to "Log Out", session_path(current_user), method: :delete %> </li>
			<% else %>
				<li><%= link_to "Log In", sessions_path %></li>
			<% end %>
			</div>
		</ul>	
	</nav>
</div>
<% end %>

	<% if flash[:notice] %>
	<div id="flashy">
		<%= flash[:notice] %>
	</div>
	<%end%>

<div class="site_container">
<%= yield %>
</div>

</body>
</html>
